<form class="quickloot">
  <table>
    {{#if hasLoot}}
      {{#each items}}
      <tr data-item="{{this.item.id}}">
        <td class="item-link" data-item="{{this.item.id}}">
          {{this.qty}} × {{#if this.identified}}{{this.name}}{{else}}???{{/if}}
        </td>
        <td>
          <select class="actor-select">
            {{#each ../actors}}
              <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </td>
        <td class="actions">
          {{#if this.magical}}
            <button type="button" class="identify" data-item="{{this.item.id}}" title="Identifizieren">
              <i class="fas fa-eye"></i>
            </button>
          {{/if}}
          <button type="button" class="transfer" title="Übertragen">
            <i class="fas fa-hand-holding"></i>
          </button>
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="3">Keine Beute.</td>
      </tr>
    {{/if}}
  </table>
</form>
